Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
*.sdf
*.opensdf
VisionUI/GeneratedFiles
VisionDetect/GeneratedFiles
QSmartDetect/GeneratedFiles
MotionModule/GeneratedFiles
3DViewUtility/GeneratedFiles
CarameModel/GeneratedFiles
Common/GeneratedFiles
DataModule/GeneratedFiles
DLPControlModule/GeneratedFiles
HSGWorkflowCtrl/GeneratedFiles
VisionFormatWork/GeneratedFiles
CurveEditor/GeneratedFiles
VisionTest/GeneratedFiles
LightModule/GeneratedFiles
