Thumbs.db
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.idb
*.tlog
*.ipch
[Bb]in
bin/[Dd]ebug*/
*.sbr
obj/
bin/[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
*.sdf
*.opensdf
VisionUI/GeneratedFiles
VisionDetect/GeneratedFiles
QSmartDetect/GeneratedFiles
MotionModule/GeneratedFiles
3DViewUtility/GeneratedFiles
CarameModel/GeneratedFiles
Common/GeneratedFiles
DataModule/GeneratedFiles
DLPControlModule/GeneratedFiles
HSGWorkflowCtrl/GeneratedFiles
VisionFormatWork/GeneratedFiles
CurveEditor/GeneratedFiles
VisionTest/GeneratedFiles
LightModule/GeneratedFiles
TowerLight/GeneratedFiles
WorkHolder/GeneratedFiles
RegressionTest/RegressionTest_result.txt
RegressionTest/data/PackageSize.csv
QSmartDetect/x64/Debug
QSmartDetect/x64/Release
CarameModel/x64/Debug
CarameModel/x64/Release
~$plication Build Dependencies.docx
